main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.action {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h3 {
  color: #fff;
}
.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 15%;
}

.carousel a {
  margin: 0 auto;
}
@media (max-width: 750px) {
  .carousel-caption h3 {
    margin-top: 50px;
    color: black;
    font-size: 14px;
    font-weight: 600;
  }
  .carousel-images {
    width: 97%;
  }
}
